<a href="https://colab.research.google.com/github/rajeevsingh717/Notebooks/blob/main/learn_spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark
from pyspark.sql import SparkSession

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285398 sha256=ae15ac6c38b20e769bc3dac9127d8ef1610c863ffe846b19133b3e778cc6c788
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
spark = SparkSession.builder.appName("MySparkSession").getOrCreate()

In [ ]:
# Sample DataFrame creation
data = [["Alice", 34], ["Bob", 45], ["Cathy", 29]]
columns = ["Name", "Age"]
df = spark.createDataFrame(data, columns)

# Display DataFrame content
df.show()

+-----+---+
| Name|Age|
+-----+---+
|Alice| 34|
|  Bob| 45|
|Cathy| 29|
+-----+---+

In [ ]:

data_path = "/content/citibike.csv"
df = spark.read.csv(data_path, header=True, inferSchema=True)

# Filter the data
filtered_df = df.filter(df["min_temperature"] > 70)

# Group by "age" and calculate the count
year_count = df.groupBy("year").count()

# Display the filtered DataFrame and age_count
filtered_df.show()
age_count.show()

+----------+-----+-------------+----------+--------+---------------+---------------+------------------+---+----+-----+-------+-------------------+-------+-------------------+
|      date|trips|precipitation|snow_depth|snowfall|max_temperature|min_temperature|average_wind_speed|dow|year|month|holiday|stations_in_service|weekday|weekday_non_holiday|
+----------+-----+-------------+----------+--------+---------------+---------------+------------------+---+----+-----+-------+-------------------+-------+-------------------+
|2013-07-01|16650|     0.838583|       0.0|     0.0|           77.0|          71.96|           3.13171|  1|2013|    7|  false|                 NA|   true|               true|
|2013-07-02|22745|    0.0787402|       0.0|     0.0|          82.04|          71.96|           2.68432|  2|2013|    7|  false|                 NA|   true|               true|
|2013-07-03|21864|     0.531496|       0.0|     0.0|          82.94|          73.04|           4.25018|  3|2013|    7|  false|                 NA|   true|               true|
|2013-07-04|22326|          0.0|       0.0|     0.0|          87.08|          75.02|           4.25018|  4|2013|    7|   true|                 NA|   true|              false|
|2013-07-05|21842|          0.0|       0.0|     0.0|          89.96|          75.92|           4.92126|  5|2013|    7|  false|                 NA|   true|               true|
|2013-07-06|20467|          0.0|       0.0|     0.0|          91.94|          78.08|           4.47387|  6|2013|    7|  false|                 NA|  false|              false|
|2013-07-07|20477|          0.0|       0.0|     0.0|          91.94|          78.08|           4.25018|  0|2013|    7|  false|                 NA|  false|              false|
|2013-07-08|21615|     0.220472|       0.0|     0.0|          89.06|          73.04|           4.69757|  1|2013|    7|  false|                 NA|   true|               true|
|2013-07-09|26641|     0.228346|       0.0|     0.0|          87.98|          73.94|           3.13171|  2|2013|    7|  false|                 NA|   true|               true|
|2013-07-10|25732|          0.0|       0.0|     0.0|          84.92|          75.02|           4.25018|  3|2013|    7|  false|                 NA|   true|               true|
|2013-07-11|24417|          0.0|       0.0|     0.0|          84.02|          75.92|           3.80279|  4|2013|    7|  false|                 NA|   true|               true|
|2013-07-14|29287|          0.0|       0.0|     0.0|          89.96|          73.94|           4.02649|  0|2013|    7|  false|                 NA|  false|              false|
|2013-07-15|28069|          0.0|       0.0|     0.0|          93.92|          78.08|            3.5791|  1|2013|    7|  false|                 NA|   true|               true|
|2013-07-16|29842|          0.0|       0.0|     0.0|          93.92|           77.0|           4.69757|  2|2013|    7|  false|                 NA|   true|               true|
|2013-07-17|30550|          0.0|       0.0|     0.0|          96.98|          78.98|            3.3554|  3|2013|    7|  false|                 NA|   true|               true|
|2013-07-18|28869|          0.0|       0.0|     0.0|          98.06|          80.96|           3.80279|  4|2013|    7|  false|                 NA|   true|               true|
|2013-07-19|26591|          0.0|       0.0|     0.0|          96.08|          82.94|           5.14495|  5|2013|    7|  false|                 NA|   true|               true|
|2013-07-20|25278|          0.0|       0.0|     0.0|          93.02|          80.96|           5.81603|  6|2013|    7|  false|                 NA|  false|              false|
|2013-07-21|30297|          0.0|       0.0|     0.0|          89.06|          75.92|           4.69757|  0|2013|    7|  false|                 NA|  false|              false|
|2013-07-22|25979|    0.0590551|       0.0|     0.0|           86.0|          75.02|           4.92126|  1|2013|    7|  false|                 NA|   true|               true|
+----------+-----+-------------+----------+--------+---------------+---------------+------------------+---+----+-----+-------+-------------------+-------+-------------------+
only showing top 20 rows

+----+-----+
|year|count|
+----+-----+
|2015|  334|
|2013|  184|
|2014|  365|
+----+-----+

In [ ]:
# Sample text data
text_data = [
    "Hello, how are you?",
    "I am doing well, thank you!",
    "How about you?",
    "I am glad to meet you."
]

# Create a DataFrame from the text data
text_df = spark.createDataFrame([(sentence,) for sentence in text_data], ["text"])
text_df.show()

# Split the text into words
words_df = text_df.selectExpr("split(text, ' ') as words")
words_df.show()

# Explode the words into separate rows
word_count_df = words_df.selectExpr("explode(words) as word").groupBy("word").count()

# Display the word count DataFrame
word_count_df.show()

+--------------------+
|                text|
+--------------------+
| Hello, how are you?|
|I am doing well, ...|
|      How about you?|
|I am glad to meet...|
+--------------------+

+--------------------+
|               words|
+--------------------+
|[Hello,, how, are...|
|[I, am, doing, we...|
|  [How, about, you?]|
|[I, am, glad, to,...|
+--------------------+

+------+-----+
|  word|count|
+------+-----+
| well,|    1|
|  you!|    1|
|   how|    1|
| doing|    1|
| thank|    1|
|  you?|    2|
|   are|    1|
|     I|    2|
|Hello,|    1|
|    am|    2|
|  you.|    1|
|  glad|    1|
|   How|    1|
|  meet|    1|
| about|    1|
|    to|    1|
+------+-----+